/* Breakpoints
----------------------------------------------------------------- */
$mobile: 320px; /* mobile */
$tablet: 768px; /* tablet */
$desktop: 1024px; /* desktop */

/* Colors
----------------------------------------------------------------- */
$blue: #1a73e8;
$blue-light: rgba(206, 222, 250, 0.3);
$off-black: rgb(29, 29, 29);
