@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;400&display=swap');

* {
    margin: 0;
    font-family: Spartan, Avenir, Helvetica, Arial, sans-serif;;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 14px;
    font-weight: $light;
}
