/* Breakpoints
----------------------------------------------------------------- */
$mobile: 320px; /* mobile */
$tablet: 768px; /* tablet */
$desktop: 1024px; /* desktop */

/* Colors
----------------------------------------------------------------- */
$blue: #1a73e8;
$blue-light: rgba(206, 222, 250, 0.3);
$red: red;
$off-black: rgb(24, 24, 24);
$gray: #d3d3d3;


/* Font weight
----------------------------------------------------------------- */
$light: 100;
$regular: 400;
